<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <img class="navbar-brand" src="https://cdn2.iconfinder.com/data/icons/cute-bread-slice-emoji-in-different-expressions/200/BREAD_10-256.png" width="40px" height="50px">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/localstorage">LocalStorage</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" routerLink="#">Confeitaria<small>(em construção)</small></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/laticinios">Laticínios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/novo">Novo Produto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/carrinho">Carrinho</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/novoLaticinio">Novo Laticinio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    </div>
  </div>
</nav>