<div class="container">


<h1>LocalStorage</h1>

<div>
    <label for="">Chave:</label>
    <input type="text"  class="form-control form-control-sm" [(ngModel)]="key" placeholder="Insira a chave">
</div>

<div>
    <label for="">Valor:</label>
    <input type="text" class="form-control form-control-sm" [(ngModel)]="value" placeholder="Insira o valor">
</div>

<!-- //Chamando a função -->

<button class="btn btn-warning btn-sm" (click)="setItem()">Definir Item</button>
<button class="btn btn-warning btn-sm" (click)="getItem()">Obter Item</button>
<button class="btn btn-warning btn-sm" (click)="removeItem()">Remover Item</button>
</div>