<div class="container">
    <form #f="ngForm" (ngSubmit)="atualizarDados()">
    
       <div>
    <label for ="nome"> Nome Produto: </label>
    <input type ="text" class="form-control form-control-sm" id ="nome" name ="nome" [(ngModel)]="dadosL.nome" >
       </div>
     
      <div>
       <label for = "peso"> Peso: </label>
       <input type = "text" class="form-control form-control-sm" id ="peso" name="peso" [(ngModel)]="dadosL.peso">
      </div>
      <div>
    
        <label for = "peso"> Validade: </label>
        <input type = "text" class="form-control form-control-sm" id ="peso" name="peso" [(ngModel)]="dadosL.peso">
        </div>
        <div>
      <button class="btn btn-warning" type="submit"> Atualizar</button>
    </div>
    </form>
    </div>
    
