<div class="container">
<h1>Meu Carrinho</h1>
    <div>
        <ul>
            <li *ngFor="let item of carrinho">
                {{item.nome}} - {{item.preco | currency : "BLR"}} - {{item.quantidade}}
                <button class="btn btn-warning btn-sm" (click)="aumentarQuantidade(item)">Aumentar Quantidade</button>
                <button class="btn btn-warning btn-sm" (click)="removerItem(item)">Remover Quantidade</button>
            </li>
        </ul>
        <p id="valorTotal">Valor total: {{calcularValor() | currency : "BRL"}}</p>
        <button class="btn btn-warning btn-sm" (click)="adicionarItem()">Adicionar Item</button>
        <button class="btn btn-warning btn-sm" (click)="limparCarrinho()" *ngIf="carrinho.length > 0">Limpar Carrinho</button>
        
    </div>
</div>    
