@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

.container{
    margin-top:8rem;
    margin-bottom: 3rem;
    padding: 3rem;
    border: 3px; 
    border-style:double;
    border-color: black;   
    width:35%;

} 
h1{
    margin-top: 0.75rem;
    text-align: center;
    margin-left: 1rem;
    color:black;
    margin-bottom: 1rem;
    

}

p, li{
    font-family: 'Cinzel', serif;
    text-align: center;
    color:black;
    font-size: medium;
}
#valorTotal{
    color: black;
}
button{
    margin-left: 14rem;
    margin-top: 3rem;
    font-family: 'Cinzel', serif;
}
